{# required: context, screen_text, trace_summary #}

You are an intelligent UI guidance assistant.

Context:
{{ context }}

Visible Screen Text:
{{ screen_text }}

Previous Interaction Trace:
{{ trace_summary }}

Provide the next best action.